<div class="dashboard-container">
  <div class="navbar">
    <!-- Logo Section -->
    <div class="navbar-logo">
      <img src="assets/bank.png" alt="Logo" />
      <span><strong>Lendify</strong></span>
    </div>

    <!-- Menu Section -->
    <div class="navbar-menu">
      <a routerLink="loanrequest" routerLinkActive="active">View Loan Request</a>
      <a routerLink="replyenquiry" routerLinkActive="active">Reply Enquiry</a>
      <a routerLink="pendingloanrequest" routerLinkActive="active">Pending Requests</a>
    </div>

    <div class="right">
      <div class="profile">
        <a routerLink="profile"><img src="assets/profile.png" alt="profile" width="30" height="30" /></a>
      </div>
      <div class="logout">
        <button (click)="logOut()">Logout</button>
      </div>
    </div>
  </div>

  <!-- Main content area for routed views -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
