<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
</head>

<body>

  <div class="dashboard-container">
    <div class="navbar">
      <!-- Logo Section -->
      <div class="navbar-logo">
        <img src="assets/bank.png" alt="Logo">
        <span><strong>Lendify</strong></span>
      </div>

      <!-- Menu Section -->
      <div class="navbar-menu">
        <a routerLink="loanschemes">All Loan Schemes</a>
        <a routerLink="appliedloans">Applied Loans</a>
        <a href="viewEmi">Active Loans</a>
        <a routerLink="payment">View EMI</a>
        <a routerLink="queries">Queries</a>
      </div>
        <div class="right">
          <div class="profile">
            <a routerLink="updateprofile"><img src="assets/profile.png"  alt="profile" width="30px" height="30px"></a>
          </div>
          <div class="logout">
            <button (click)="logOut()">Logout</button>
          </div>
        </div>
      </div>
    </div>

  <router-outlet></router-outlet>

</body>

</html>
